body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: honeydew;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #FDC6FD;
    
}



.header__logo {
    width: 80px;
}

.nav__item {
    vertical-align: middle;
    display: inline;
    font-size: 1.2rem;
    margin-left: 10px;
}

.nav__link {
    text-decoration: none;
    vertical-align: middle;
}

.nav__link:link {
    color: black;
}

.nav__link:visited {
    color: rgb(29, 29, 29);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
    color: rgb(134, 134, 134);
}

.land {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#67676778, #eceaea1e), url("../img/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.nav__item--border {
    border-left: 1px solid grey;
    padding-left: 15px;
    vertical-align: middle;
}

section {
    padding: 0 50px 50px;
}


.news__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid white;
    padding: 5px 10px;
    margin-right: 15px;
}

.news__link--del {
    margin-right: 0;
}

.news__link:hover,
.news__link:active {
    color: rgb(216, 216, 216);
}

.news__category-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.news__category {
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    margin-right: 12px;
    padding: 0 10px;
    
    border-right: 2px solid #fff;
}


.news__category:hover,
.news__category:active
 {
    color: rgb(216, 216, 216);
}

.category {
    color: green;
    font-weight: 900;
    text-decoration: none;
    
}
.search {
    display: flex;
}

.search input {
    margin-right: 15px;
    border-radius: 5px;
    border: 0;
    padding: 7px;
}

.search button {
    padding: 0 15px
}

.author {
    text-decoration: none;
    color: red;
    padding: 0 30px;
}

.addnews {
    background-color: #0a0a4c;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}

h2 {
    padding: 10px 30px;
}

.title {
    text-decoration: none;
    color: black;
    font-weight: 900;
    
    width: 700px;
}

.title:hover,
.title:active {
    color: rgb(73 70 169);
}

.cat__wrapp {
    background-color: #dfdfdf;
}

.cat__wrapp h3 {
    padding: 10px 20px;
}

h3 {
 margin: 0;
}

.text {
    margin-bottom:0 ;
    margin-right: 0;
    padding: 10px 30px;
}


.news__link--left {
    margin-right: 15px;
}

.delete__btn {
    margin-right: 15px;
    color: red;
}

.cancel__btn a{
    text-decoration: none;
    color: #fff;
}

button {
    background-color: #0a0a4c;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 15px;
    border:1px solid grey;
    cursor: pointer;
}

button:hover {
    background-color:#090981;
}

.comments {
    padding:30px 0 10px;
}

.comments h3,
.comments textarea {
    margin-bottom: 20px;
}

h3 a[href="news.php?category=2"] {
    color: #a600b7;
}

h3 a[href="news.php?category=3"] {
    color: #001cba;
}

h3 a[href="news.php?category=4"] {
    color: black;
}

.comm-del-wrapp {
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    background-color: blanchedalmond;
}


.comments__show--admin {
    border: 1px solid grey;
    margin: 20px;
    width: 700px;
    padding: 0;
    margin-left: 0;

    display: flex;
    align-items: center;
}

.comments__show {
    border: 1px solid grey;
    margin: 20px;
    width: 700px;
    padding: 0;
    margin-left: 0;
}

.comment__wrapp {
    width: 100%;
}

.comments__show p {
    margin: 0px;
    
}

.comment__text {
    padding: 15px;
    background-color: cornsilk;
}

.comment__user--admin {
    background-color: blanchedalmond;
    margin: 0;
    padding:5px 15px;
}
.comment__text--admin {
    margin: 0;
}


#comment {
    padding: 10px;
    font-family:'Be Vietnam Pro', sans-serif;
    width: 680px;
}

.article__story {
    width: 700px; 
    margin-bottom: 50px; 
    padding-bottom: 10px; 
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.news__box {
    border: 1px solid gray; 
    padding-bottom: 20px; 
    width: 700px;
    margin-bottom: 20px;
}

.email,
.pass {
    padding: 7px;
}

.add__news {
    text-align: center;
    min-height: 100vh;
    padding-bottom: 50px;
}

button[name="delete_comment"] {
    color: black;
    background-color: #fff;
    font-weight: normal;
    font-size: small;
    margin-top: 10px;
}
button[name="delete_comment"]:hover {
    background-color: #ededed;
}


input[type="checkbox"] {
    margin: 20px;
    width: 20px;
    height: 20px;
}

.wrapp_allnews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    min-height: 100vh;
}

footer {
    background-color: #0a0a4c;
    height: 70px;
    color: #fff;
    text-align: center;
    padding-top:  15px ;
}

#remember {
    margin: 0 7px 0 0 ;
}


.login {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    min-width: 300px;
    max-width:400px;
    padding-top: 70px;
    
}

.signin__wrapp {
    background-color: #c6fdc6;
    border-radius: 10px;
    padding: 20px 0 50px;
    box-shadow: 0 0 8px 2px #12121229;
    border: 1px solid #c1dbc1;
}

.signin__title {
    margin-top: 0;
}

hr {
    margin: 0;
}

.comments__show-form {
    margin-bottom: 50px;
}

button[name="delete_comment"] {
    padding-bottom: 10px;
}

input[name="user-comment-delete"] {
    background-color: #fff;
    margin: 0;
    border: 1px solid rgb(155, 154, 154);
    padding:3px 5px;
    cursor: pointer;
}

.add__news-heading {
    margin-top: 0;
    padding-top: 40px;
}